build/
nbbuild/
nbdist/
nbactions.xml
.nb-gradle/
node_modules/
dist/
*.log
nbproject/private/*    
*.bak
*.orig
*~
*.log
*private.xml
nbproject/private/private.properties
nbproject/private/private.xml
.idea/